<h2>Zmena hesla</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "Nové heslo" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> minimálny počet znakov)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Potvrdiť nové heslo" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Zmeniť heslo", class: 'btn btn-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
