<div class="post">
  <div class="postpanel">
    <%= link_to post do %>
        <div class="heading">
          <h4 class="title"><%= post.name %></h4>
          <p><b>Dátum:</b> <%= DateTime.strptime post.time.to_s, '%s' %></p>
          <p><b>Miesto:</b> <%= post.city.name %> : <%= post.locality %></p>
        </div>

        <div class="body">
          <p><%= strip_tags post.description[0,200] %></p>
        </div>
    <% end %>
  </div>
</div>