<div class="row">
  <div class="container col-md-6 col-md-offset-3">
    <%= form_for @post, method: method do |f| %>
        <%= form_errors_for @post %>

        <%= f.label :name, 'Názov udalosti' %>
        <%= f.text_field :name, required: true %>

        <%= f.label :time_at, 'Čas konania udalosti' %>
        <%= f.text_field :time_at, class: 'datetimepicker', required: true %>

        <%= f.label :category, 'Kategória' %>
        <%= f.collection_select :category_id, Category.all, :id, :name, required: true %>

        <%= f.label :city_name, 'Mesto' %>
        <%= f.autocomplete_field :city_name, posts_autocomplete_city_name_path, id_element: '#city-id' %>
        <%= f.hidden_field :city_id, id: 'city-id' %>

        <%= f.label :locality, 'Lokalita' %>
        <%= f.text_field :locality, required: true %>

        <%= f.label :limit, 'Kapacita, 0 znamená bez obmedzenia' %>
        <%= f.number_field :limit, value: 0, min: 0, required: true %>

        <%= f.label :description, 'Popis udalosti' %>
        <%= f.bootsy_area :description, required: true %>

        <%= f.label :picture, 'Obrázok' %>
        <%= f.file_field :picture %>

        <%= f.submit submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
    $('.datetimepicker').datetimepicker({
    format : 'DD/MM/YYYY HH:mm'
    });
<% end %>
