<h1><%= @post.name %></h1>
<div class="row">

  <div class="col-md-6">
    <h3 class="left">Date: <%= Date.strptime @post.time.to_s, '%s' %></h3>
    <h3 class="left">Time: <%= Time.strptime(@post.time.to_s, '%s').strftime '%H:%M' %></h3>
  </div>

  <div class="col-md-6">
    <h3 class="right">
      <% if @post.limited %>
          Limits: <%= @post.users.count %>/<%= @post.limit %>
      <% else %>
          Attendants: <%= @post.users.count %>
      <% end %>
    </h3>
  </div>

</div>

<div class="row">
  <div class="col-md-3 col-md-offset-4">
    <%= link_to 'Invite', posts_invite_path(id: @post.id), class: 'btn btn-primary', remote: true %>
    <% if current_user.nil? %>
        <p>log in to attend <%= link_to 'log in', new_user_session_path, class: 'btn btn-primary' %></p>
    <% elsif @post.users.exclude? current_user %>
        <%= link_to 'Attend', posts_add_attendant_path(id: @post.id), class: 'btn btn-primary', method: :post %>
    <% else %>
        <%= link_to 'Do not attend', posts_remove_attendant_path(id: @post.id), class: 'btn btn-primary',
                    method: :delete %>
    <% end %>
    <% if current_user? @post.user_id %>
        <%= link_to 'Edit event', edit_post_path(@post), method: :get, class: 'btn btn-primary' %>
        <%= link_to 'Delete event', post_path(@post), method: :delete, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<div class="row">

  <div class="col-md-5">
    <div id="map" class="map"></div>
  </div>

  <div class="col-md-6 col-md-offset-1 row">
    <div class="col-md-12 panel panel-body">
      <%= @post.description %>
    </div>

    <div class="col-md-12 panel panel-body">
      <p>Email of event creator: </p>
      <%= mail_to @post.user.email, @post.user.email %>
    </div>
  </div>

</div>

<%= content_tag :div, class: 'locality-content', data: {locality: @post.locality, city: @post.city.name} do %>
<% end %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyABIzzN7SlW5GoZk7xOoBziqObZRw9TzsU&libraries=geometry&callback=initActivityMap", defer: 'defer', async: 'async' %>

