<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to '/', id: "logo" do %>
        Hobist
    <% end %>
    <nav>
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Domov', root_path %>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Kategórie <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% Category.find_each do |category| %>
                <li><%= link_to category.name, posts_path(post: {category_id: category.id}) %></li>
            <% end %>
            <li><%= link_to 'Všetky', posts_path %></li>
          </ul>
        </li>
        <% if user_signed_in? %>
            <li><%= link_to 'Upraviť profil', edit_user_registration_path(id: current_user.id) %></li>
            <li class="divider"></li>
            <li><%= link_to 'Odhlásiť', destroy_user_session_path, method: "delete" %></li>
        <% else %>
            <li><%= link_to 'Prihlásiť/Registrovať', new_user_session_path %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right navbar-inverse">
        <li>
          <div style="margin: 5px 10px;">
            <%= link_to '+ Vytvoriť udalosť', new_post_path, class: 'btn btn-primary' %>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Filter <b class="caret"></b>
          </a>
          <div class="dropdown-menu dropdown-opened">
            <%= render partial: 'posts/post_filter' %>
          </div>
        </li>
        <li>
          <%= form_tag(posts_path, :method => 'get', id: 'search-form') do %>
              <%= text_field_tag :search, params[:search], class: 'search-query', placeholder: 'Hľadať', type:
                  'search', data: {} %>
              <%= image_submit_tag 'Hľadaj', :type => :image, :src => "/find_button.png", class: 'btn btn-primary' %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</header>